@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #FEFFFE;
}

.main{
  height: 88vh;
}

.background{
  top:2px;
}

.svgi {
  transition: transform 15s ease-out, opacity 15s ease-out;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 500;
}

.fa{
  font-weight: 600;
}


ul.nav li {

  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background-color: #b45309;
  border-radius: 2rem;

}
ul.nav li.active {
  background: #92400e;
  border-radius: 2rem;
  color: #FEFFFE;
}




